<!DOCTYPE html>

<html>
    <head>
        <title>Contact</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h3>Contact us at {{ mob }}</h3>
            <img src="/images/anon.jpg">
        </div>
        {{>footer}}
    </body>
</html>